<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Schlee</title>
    <link href='http://fonts.googleapis.com/css?family=Rufina' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="wrapper">
      <!-- container -->
      <div id="main" class="container text-center clear-top">
        <div class="header row">
          <div class="col-md-12">
            <img src="/img/schlee_logo.png" alt="schlee logo" />
          </div>
        </div>
        <ul id="nav" class="list-unstyled list-inline">
          <li><h4><a href="/news/index.html">NEWS</a></h4></li>
          <li><h4><a href="/bio/index.html">BIO</a></h4></li>
          <li><h4><a href="/shows/index.html">SHOWS</a></h4></li>
          <li><h4><a href="/pics/index.html">PICS</a></h4></li>
          <li><h4><a href="/videos/index.html">VIDEOS</a></h4></li>
          <li><h4><a href="http://ashleyallred.bandcamp.com">BANDCAMP</a></h4></li>
          <li><h4><a href="/contact/index.html">CONTACT</a></h4></li>
        </ul>
        <div class="row text-left">
$body$
        </div>
      </div>
      <!-- /container -->
    </div>
    <div class="footer">
      <img src="/img/pretty.png" alt="all i need" />
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>
