<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>$title$</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,600" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="wrapper">
      <div id="main" class="container text-center clear-top">
        <div class="header row">
          <div class="col-md-6">
            <img src="/img/ashleylogo.png" alt="ashley allred" />
          </div>
          <div class="col-md-6">
            <img src="/img/allredlogo.png" alt="ashley allred" />
          </div>
        </div>
        <ul id="nav" class="list-unstyled list-inline">
          <li><h4><a href="/bio">BIO</a></h4></li>
          <li><h4><a href="/shows">SHOWS</a></h4></li>
          <li><h4><a href="/pics">PICS</a></h4></li>
          <li><h4><a href="/videos">VIDEOS</a></h4></li>
          <li><h4><a href="/lyrics">LYRICS</a></h4></li>
          <li><h4><a href="http://ashleyallred.bandcamp.com">BANDCAMP</a></h4></li>
          <li><h4><a href="/contact">CONTACT</a></h4></li>
        </ul>
      </div> <!-- /container -->
    </div>
    <div class="footer">
      <img style="height:100%;" src="/img/polaroid.jpg" alt="all i need" />
    </div>
  </body>
</html>
