<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>$title$</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/source_code_pro.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="wrapper">
      <div id="main" class="container text-center clear-top">
        <div class="header row">
          <div class="col-md-12">
            <img src="/img/schlee_logo.png" alt="schlee logo" />
          </div>
        </div>
        <ul id="nav" class="list-unstyled list-inline">
          <li><h4><a href="/news/index.html">NEWS</a></h4></li>
          <li><h4><a href="/bio/index.html">BIO</a></h4></li>
          <li><h4><a href="/shows/index.html">SHOWS</a></h4></li>
          <li><h4><a href="/pics/index.html">PICS</a></h4></li>
          <li><h4><a href="/videos/index.html">VIDEOS</a></h4></li>
          <li><h4><a href="/contact/index.html">CONTACT</a></h4></li>
        </ul>
      </div> <!-- /container -->
    </div>
    <div class="footer">
        <img class="img-fluid rounded" style="height:100%;" src="/img/IMG-7197.jpg" alt="all i need" />
    </div>
  </body>
</html>
